.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-left: 8px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #333333;
  border-radius: 4px;
  outline: none;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #1c068c;
  border-radius: 50%;
}