
<h3>FORMULARIO DE ESTUDIANTES</h3>

<form [formGroup]="estudianteForm" (ngSubmit)="onSubmit()">
    <div class="contenedor-formulario">

      <app-textoinput title="Cédula" colorinp="primary"></app-textoinput>
       
      <app-textoinput title="Nombre" colorinp="primary"></app-textoinput>
     
      <app-textoinput title="Apellido" colorinp="primary"></app-textoinput>

      <app-datepickerinput title="Fecha Nacimiento"></app-datepickerinput>

      <app-textoinput title="Contacto" colorinp="primary"></app-textoinput>

      <app-textoinput title="Dirección" colorinp="primary"></app-textoinput>

      <app-emailinput title="Email"></app-emailinput>

      <app-textoinput title="Contraseña" colorinp="primary"></app-textoinput>

      <app-selectinput title="Jornada" colorinp="primary"></app-selectinput>


      <app-selectinput title="Nivel" colorinp="primary"></app-selectinput>

      <app-selectinput title="Paralelo" colorinp="primary"></app-selectinput>

      <app-selectinput title="Carrera" colorinp="primary"></app-selectinput>

      <button mat-raised-button type="submit">Enviar</button>
    </div>
  </form> 
  
