<form [formGroup]="estudianteForm" (ngSubmit)="onSubmit()">
    <div class="contenedor-formulario">
      <mat-form-field>
        <mat-label>Cédula</mat-label>
        <app-textoinput ></app-textoinput>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <app-textoinput></app-textoinput>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <app-textoinput></app-textoinput>
      </mat-form-field>
  
      <button mat-raised-button type="submit">Enviar</button>
    </div>
  </form> 
  
