<h1>Hola {{estudiante.nombres_alumno }} {{estudiante.apellidos_alumno}} </h1>
<!-- En una etiqueta h3 mostrar en que jornada me encuentro -->
<h3>Hola soy {{estudiante.nombres_alumno}} de la jornada {{estudiante.jornada.nombre_jornada}}</h3>
<h5>Hola soy {{estudiante.nombres_alumno}} {{estudiante.apellidos_alumno}} de la carrera de
    {{estudiante.carrera.nombre_carrera}} mi profe es {{horario.docente.nombres_docente}}
    {{horario.docente.apellidos_docente}} de la rama {{horario.docente.rama.nombre_rama}}</h5>
<!-- En el titulo principal colocar la asignatura y profesor q dicta la asignatura, en el siguiqnete titulo poner el aula y q tipo de aula {:else}
  en el texto largo poner todos los datos del estudiante y en los botones poner departamento o facultad q pertenece y el otro la rama -->
<hr>

<div class="container">
  <h1>{{title}}</h1>
  <img class="vista" src="../../../assets/images/vistas/horario_vista.jpeg">
  
<app-botonsimple [title]="title_button" [colorbtn]="colorbtn"></app-botonsimple> 
<app-checkbox></app-checkbox>  
</div>