/* styles.css o styles.scss */

.container {
  width: 80%; /* Ancho del contenedor al 80% del ancho del viewport */
  height: auto; /* Altura se ajustará automáticamente al contenido */
  max-width: 600px; /* Ancho máximo del contenedor de 600px */
  position: absolute; /* Cambiado a posición absoluta */
  top: 10%; /* Distancia del 10% del borde superior del viewport */
  left: 50%; /* Distancia de la mitad del ancho del viewport */
  transform: translateX(-50%); /* Centrado horizontal */
}

  
  /* Estilos adicionales para la imagen */
  .vista {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al ancho del contenedor */
    max-height: 100%; /* Ajusta el tamaño máximo de la imagen al alto del contenedor */
  }
  