.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

 
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    max-width: 75px; /* Ajusta el ancho */
    max-height: 75px; /* Ajusta la altura */
    object-fit: cover;  /* Cubre el contenedor por completo */
    margin: 20px; /* Margen alrededor de la imagen */
    padding: 10px; /* Relleno dentro de la imagen */
  }
