<form [formGroup]="formreg">
    <app-selectinput title="Id" colorinp="primary"></app-selectinput>
    <app-textoinput title="Nombre" colorinp="primary"></app-textoinput>
    <app-textoinput title="Apellido" colorinp="primary"></app-textoinput>
     <app-datepickerinput title="Fecha Nacimiento"></app-datepickerinput>
    <app-textoinput title="Contacto" colorinp="primary"></app-textoinput>
    <app-textoinput title="Direccion" colorinp="primary"></app-textoinput>
     <app-emailinput title="Email"></app-emailinput>
    <app-textoinput title="Contrasena" colorinp="primary"></app-textoinput>
    <app-selectinput title="Jornada" colorinp="primary"></app-selectinput>
    <app-selectinput title="Nivel" colorinp="primary"></app-selectinput>
    <app-selectinput title="Paralelo" colorinp="primary"></app-selectinput>
    <app-selectinput title="Carrera" colorinp="primary"></app-selectinput>
    <!-- <div mat-dialog-actions id="botones">
        <app-botonsimple title="Nombre" colorbtn="primary"></app-botonsimple>
        <app-botonsimple title="Nombre" colorbtn="warn"></app-botonsimple>
    </div> -->
</form>
